<section class="Row">
  <div class="Col lg-4 olg-4">
    <div class="Center">
      <div class="Box Box-scrollable">
        <h1 class="Text-h1 Text-center">Page not Found!</h1>
        <p>Back to <a href="#" class="Text-link" onclick="history.back()"><strong>Previous page</strong></a>.</p>
        <p>Back to <a href="/" class="Text-link"><strong>Homepage</strong></a>.</p>
      </div>
    </div>
  </div>
</section>