/*  Initial */
.Btn {
  --btn-padding: #{$btn-padding};
  --btn-font-size: #{$btn-font-size};
  --btn-font-weight: #{$btn-font-weight};
  --btn-line-height: #{$btn-line-height};
  --btn-color-main: #{$color-primary};
  --btn-radius: #{$radius-md};
  --btn-color-side: #fff;
  --btn-intensity: 80%;
  --btn-transition: #{$transition-1};
  $self: #{&};
  &-sm {
    @extend #{$self};
    --btn-padding: #{$btn-padding-sm};
    --btn-font-size: #{$btn-font-size-sm};
    --btn-radius: #{$radius-sm};
  }
  &-lg {
    @extend #{$self};
    --btn-padding: #{$btn-padding-lg};
    --btn-font-size: 1.25rem;
    --btn-radius: #{$radius-lg};
  }
}

.Btn {
  appearance: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  padding: var(--btn-padding);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  border-radius: var(--btn-radius);
  border: 1px solid;
  border-color: var(--btn-color-main);
  background-color: var(--btn-color-main);
  color: var(--btn-color-side);
  transition: var(--btn-transition);
  $self: #{&};
  &-sm,
  &-lg {
    @extend #{$self};
  }
}

.Btn {
  /*  Default */
  &:hover {
    --btn-color-override: #fff;
  }
  &:active {
    --btn-color-override: #000;
  }
  &:hover,
  &:active {
    --btn-color-main-hover: color-mix(
      in srgb,
      var(--btn-color-main) var(--btn-intensity),
      #fff
    );
    background-color: var(--btn-color-main-hover);
    border-color: var(--btn-color-main-hover);
  }

  /*  Outline */
  &-outline {
    --btn-color-main: transparent;
    --btn-color-side: #{$color-primary};
    border-color: var(--btn-color-side);

    &:hover {
      color: #fff;
      background-color: var(--btn-color-side);
      border-color: var(--btn-color-side);
    }
    &:active {
      --btn-color-side-active: color-mix(
        in srgb,
        var(--btn-color-side) var(--btn-intensity),
        #000
      );
      background-color: var(--btn-color-side-active);
      border-color: var(--btn-color-side-active);
    }
  }

  /*  Each color */
  @each $name, $color in $colors {
    &-#{$name} {
      --btn-color-main: #{$color};
    }
    &-#{$name}#{&}-outline {
      --btn-color-main: transparent;
      --btn-color-side: #{$color};
    }
  }

  &-circle {
    --btn-radius: #{$radius-circle};
    aspect-ratio: 1 / 1;
    object-fit: cover;
    > i {
      width: var(--btn-font-size);
      font-size: var(--btn-font-size);
      text-align: center;
    }
  }

  &-viewmore {
    width: 100%;
    margin-top: 0.75rem;
    padding: 0;
    text-align: center;
    background-color: transparent;
    color: $color-primary;
    border: unset;
    font-size: #{$btn-font-size-sm};
    &:hover {
      text-decoration: underline;
      background-color: transparent;
    }
  }
}
