/*  Initial */
.Btn {
  --Btn-padding: #{$btn-padding};
  --Btn-font-size: #{$btn-font-size};
  --Btn-font-weight: #{$btn-font-weight};
  --Btn-line-height: #{$btn-line-height};
  --Btn-color-main: #{$color-primary};
  --Btn-radius: #{$radius-md};
  --Btn-color-side: #fff;
  --Btn-intensity: 80%;
  --Btn-transition: #{$transition-1};
  $self: #{&};
  &-sm {
    @extend #{$self};
    --Btn-padding: #{$btn-padding-sm};
    --Btn-font-size: #{$btn-font-size-sm};
    --Btn-radius: #{$radius-sm};
  }
  &-lg {
    @extend #{$self};
    --Btn-padding: #{$btn-padding-lg};
    --Btn-font-size: 1.25rem;
    --Btn-radius: #{$radius-lg};
  }
}

.Btn {
  appearance: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  padding: var(--Btn-padding);
  font-size: var(--Btn-font-size);
  font-weight: var(--Btn-font-weight);
  line-height: var(--Btn-line-height);
  border-radius: var(--Btn-radius);
  border: 1px solid;
  border-color: var(--Btn-color-main);
  background-color: var(--Btn-color-main);
  color: var(--Btn-color-side);
  transition: var(--Btn-transition);
  $self: #{&};
  &-sm,
  &-lg {
    @extend #{$self};
  }
}

.Btn {
  $self: #{&};
  /*  Default */
  &:hover {
    --Btn-color-override: #fff;
  }
  &:active {
    --Btn-color-override: #000;
  }
  &:hover,
  &:active {
    --Btn-color-main-hover: color-mix(
      in srgb,
      var(--Btn-color-main) var(--Btn-intensity),
      #fff
    );
    background-color: var(--Btn-color-main-hover);
    border-color: var(--Btn-color-main-hover);
  }

  /*  Outline */
  &-outline {
    --Btn-color-main: transparent;
    --Btn-color-side: #{$color-primary};
    border-color: var(--Btn-color-side);

    &:hover {
      color: #fff;
      background-color: var(--Btn-color-side);
      border-color: var(--Btn-color-side);
    }
    &:active {
      --Btn-color-side-active: color-mix(
        in srgb,
        var(--Btn-color-side) var(--Btn-intensity),
        #000
      );
      background-color: var(--Btn-color-side-active);
      border-color: var(--Btn-color-side-active);
    }
  }

  /*  Each color */
  @each $name, $color in $colors {
    &-#{$name} {
      --Btn-color-main: #{$color};
    }
    &-#{$name}#{&}-outline {
      --Btn-color-main: transparent;
      --Btn-color-side: #{$color};
    }
  }

  &-circle {
    --Btn-radius: #{$radius-circle};
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    > i {
      width: var(--Btn-font-size);
      font-size: var(--Btn-font-size);
      text-align: center;
    }
  }

  &-unstyled {
    @extend #{$self}-circle;
    --Btn-color-main: transparent;
    --Btn-color-side: inherit;
    border: none;
    --Btn-transition: #{$transition-2};
    position: relative;
    z-index: 1;
    &:hover {
      background-color: rgba(149, 157, 165, 0.15);
      color: make-color-variant(inherit);
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      height: 100%;
      width: 100%;
      background-color: rgba(149, 157, 165, 0.5);
      border-radius: $radius-circle;
      transition: $transition-3;
      opacity: 0;
    }
    &:active::after {
      opacity: 1;
      height: 0;
      width: 0;
      transition: 0s;
    }
  }

  &__group {
    background-color: var(--txt-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $radius-rounded;
    cursor: pointer;
    #{$self} {
      @extend .Btn-unstyled;
      padding: 0.3rem;
      margin: 0.2rem;
      &.active,
      &[aria-current="true"] {
        border-radius: $radius-circle;
        background-color: $color-primary;
        color: $color-light;
        &::after {
          display: none;
        }
      }
    }
    &-sm {
      #{$self} {
        @extend .Btn-sm;
      }
    }
    &-lg {
      #{$self} {
        @extend .Btn-lg;
      }
    }
  }

  &-viewmore {
    width: 100%;
    margin-top: 0.75rem;
    padding: 0;
    text-align: center;
    --Btn-color-main: transparent;
    --Btn-color-side: #{$color-primary};
    border: unset;
    font-size: #{$btn-font-size-sm};
    &:hover {
      text-decoration: underline;
      background-color: transparent;
    }
  }

  &-spacing-0 {
    --Btn-padding: 0;
  }
}
