@use '../helpers/helpers';
@import '../variables';

$media-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  hd: 1400px,
);

$container-max-widths: (
  xs: 0,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  hd: 1320px,
);

@mixin make-breakpoint(
  $name,
  $max-width: null,
  $breakpoints: $media-breakpoints
) {
  $min-width: map-get($breakpoints, $name);
  @if $min-width {
    @media screen and (min-width: $min-width) {
      @if $max-width != 0 {
        max-width: $max-width;
      }
      @content;
    }
  }
}
@mixin make-breakpoint-up($name, $breakpoints: $media-breakpoints) {
  $min-width: helpers.map-get-next($breakpoints, $name, true);
  @if $min-width {
    $max-width: $min-width - 1px;
    @media screen and (max-width: $max-width) {
      @content;
    }
  }
}

@mixin make-12col($size) {
  // Columns 1 -> 12
  @for $i from 1 through 12 {
    &.#{$size}-#{$i} {
      display: unset;
      flex: 0 0 calc((100% / 12) * #{$i});
      max-width: calc((100% / 12) * #{$i});
    }
  }
  // Offset of Columns 1 -> 12
  @for $i from 1 through 11 {
    &.o#{$size}-#{$i} {
      margin-left: calc((100% / 12) * #{$i});
    }
  }
}
@mixin make-hidden-col($size) {
  &.#{$size}-0 {
    display: none;
  }
}

.Container {
  --Container-max-width: 100%;
  --Container-wide-width: 100%;
  --Container-spacing: 0.75rem;
  --Container-gutter: #{$main-gutter};
  --Row-margin: calc(0rem - var(--Container-spacing));
  --Col-padding: var(--Container-spacing);
}

.Container {
  // gap: var(--Col-padding);
  width: 100%;
  max-width: var(--Container-max-width);
  padding-left: var(--Container-gutter);
  padding-right: var(--Container-gutter);
  margin-left: auto;
  margin-right: auto;
  transition: all 0.15s linear;
}

.Container {
  .Row {
    display: flex;
    flex-wrap: wrap;
    margin-left: var(--Row-margin);
    margin-right: var(--Row-margin);

    & > * {
      flex-shrink: 0;
      width: 100%;
      max-width: 100%;
      padding-left: var(--Col-padding);
      padding-right: var(--Col-padding);
      padding-bottom: var(--Col-padding);
    }

    & .Heading {
      margin: 0;
      // padding-left: var(--Col-padding);
      // padding-right: var(--Col-padding);
      padding-bottom: var(--Col-padding);
    }

    & .Col {
      padding-left: var(--Col-padding);
      padding-right: var(--Col-padding);
      padding-bottom: calc(var(--Col-padding) * 2);
    }

    &-gutters-0 {
      margin-left: 0;
      margin-right: 0;
      & .Col {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  $self: #{&};
  &-wide {
    @extend #{$self};
    min-width: var(--Container-wide-width);
  }
  &-gutter-0 {
    --Container-gutter: 0;
  }

  $container-max-widths-list: $container-max-widths;
  @each $breakpoint, $max-width in $container-max-widths-list {
    @include make-breakpoint($breakpoint, $max-width) {
      @if ($breakpoint == 'xs') or
        ($breakpoint == 'sm') or
        ($breakpoint == 'md')
      {
        --Container-spacing: 0.5rem;
      } @else {
        --Container-spacing: 0.75rem;
      }
      @if ($breakpoint == 'sm') or
        ($breakpoint == 'md') or
        ($breakpoint == 'lg') or
        ($breakpoint == 'xl')
      {
        .Row .Col {
          @include make-12col($breakpoint);
        }
      }
    }
    @include make-breakpoint-up($breakpoint) {
      .Row .Col {
        @include make-hidden-col($breakpoint);
      }
    }
  }
}

@mixin make-reponsive($breakpoint, $breakpoints: $media-breakpoints) {
  // keys(name) list
  $keys: map-keys($breakpoints);
  // current index
  $index: index($keys, $breakpoint);
  @if $index {
    // if key is followed by larger value
    @if $index < length($keys) {
      $min-width: map-get($breakpoints, $breakpoint);
      $next-breakpoint: map-get-next($breakpoints, $breakpoint);
      $max-width: map-get($breakpoints, $next-breakpoint);
      @media screen and (min-width: $min-width) and (max-width: calc($max-width - 1px)) {
        @content;
      }
    }
    // if key is the largest value
    @if $index == length($keys) {
      @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
  } @else {
    @error "Invalid breakpoint #{$breakpoint}!";
  }
}

@mixin make-multi-reponsive($breakpoints...) {
  @each $breakpoint in $breakpoints {
    @include make-reponsive($breakpoint) {
      @content;
    }
  }
}

@mixin make-range-reponsive($min-breakpoint, $max-breakpoint) {
  $min-width: map-get($media-breakpoints, $min-breakpoint);
  $max-width: map-get($media-breakpoints, $max-breakpoint);
  @if $min-width and $max-width and $min-width < $max-width {
    @media screen and (min-width: $min-width) and (max-width: calc($max-width - 1px)) {
      @content;
    }
  } @else {
    @error "Invalid breakpoints!";
  }
}
