/**
  Dialog
*/
.Dialog {
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  visibility: hidden;
  transition: all 0.35s ease;

  &[open] {
    opacity: 1;
    visibility: visible;
  }
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    animation: hide-backdrop 0.35s ease forwards;
  }
  &[open]::backdrop {
    animation: show-backdrop 0.35s ease forwards;
  }

  &__header {
    font-size: 1.25rem;
    font-weight: 500;
  }
  &__body {
    margin: 0.75rem 0;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  &__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    padding-top: 1rem;
    border-top: solid 1px #eee;
  }
}
/* End of Dialog */

@keyframes show-backdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide-backdrop {
  to {
    opacity: 0;
  }
}
