// @use '../variables';
@use "../helpers/helpers";
@use "../helpers/responsive";

.Grid {
  --Grid-max-width: 100%;
  --Grid-spacing: 0.75rem;
  --Grid-gutter: #{$main-gutter};
  --Grid-sidebar-width: #{$sidebar-width};
  --Grid-rightbar-width: #{$rightbar-width};
}

.Grid {
  display: grid;
  grid-template-areas:
    "sidebar header header"
    "sidebar main main"
    "sidebar footer footer";
  grid-template-columns: min-content auto var(--Grid-rightbar-width);
  gap: calc(var(--Grid-spacing) * 1);
  width: var(--Grid-max-width);
  max-width: var(--Grid-max-width);
  min-width: var(--Grid-max-width);
  padding-left: var(--Grid-gutter);
  padding-right: var(--Grid-gutter);
  transition: all 0.15s linear;
  $self: #{&};

  &-gutter {
    &-0 {
      --Grid-gutter: 0;
    }
    &-responsive {
      --Grid-gutter: var(--Grid-spacing);
    }
  }

  @include responsive.make-responsive(xs, sm, md) {
    --Grid-spacing: 0.5rem;
  }

  @include responsive.make-responsive-up(md) {
    // grid-template-columns: var(--Grid-sidebar-width-collapsed) auto var(--Grid-rightbar-width-collapsed);
    --Grid-sidebar-width: #{$sidebar-width-collapsed};
    --Grid-sidebar-width: #{$sidebar-width-collapsed};
  }
  @include responsive.make-responsive-up(xs) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--Grid-spacing) 0;
    grid-template-areas: "header" "main" "footer";
  }

  &__header {
    grid-area: header;
  }
  &__sidebar {
    grid-area: sidebar;
  }
  &__main {
    grid-area: main;
  }
  &__rightbar {
    grid-area: rightbar;
  }
  &__footer {
    grid-area: footer;
  }

  &-dashboard {
    grid-template-areas:
      "header header header"
      "sidebar main rightbar"
      "sidebar footer footer";

    & #{$self}__header {
      position: relative;
      width: 100%;
      height: $header-height;
      &-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-left: var(--Grid-gutter);
        padding-right: var(--Grid-gutter);
      }
    }

    & #{$self}__sidebar {
      position: relative;
      width: var(--Sidebar-width);
      height: calc(100vh - $header-height - var(--Grid-spacing));

      &-collapsed,
      &[aria-expanded="false"] {
        --Sidebar-width: #{$sidebar-width-collapsed};
      }
      @include responsive.make-range-responsive(sm, lg) {
        --Sidebar-width: #{$sidebar-width-collapsed};
      }
      &-fixed {
        position: fixed;
        width: inherit;
        height: inherit;
        padding-bottom: var(--Grid-spacing);
      }
    }
  }
}
