.Navbar {
  --Navbar-toggle-width: #{$sidebar-width};
  --Navbar-collapse-width: #{$sidebar-width-collapsed};
  --Navbar-padding: #{$navbar-padding};
  --Navbar-logo-size: 2.25rem;
}

.Navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: var(--Navbar-padding) 0;
  padding-bottom: var(--Navbar-padding) !important;

  & > * {
    display: flex;
    max-height: 3rem;
    height: 3rem;
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // gap: .5rem;
    width: var(--Navbar-toggle-width);
    &-brand {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      & img {
        width: var(--Navbar-logo-size);
        height: var(--Navbar-logo-size);
      }
    }
    &-collapse {
      position: static;
      width: var(--Navbar-collapse-width);
      display: flex;
      justify-content: center;
      // margin-right: -.75rem;
      // padding: .5rem;
      font-size: $font-size;
      cursor: pointer;
    }
  }

  &__brand {
    display: inline-flex;
    // padding: var(--Navbar-padding) 0;
    margin-top: var(--Navbar-padding) !important;
    margin-bottom: var(--Navbar-padding) !important;
  }

  &__right {
    display: inline-flex;
    // width: auto;
    justify-content: end;
    align-items: center;
    gap: 1.5rem;
  }

  &__menu {
    display: none;
  }

  &__profile {
    display: flex;
    height: 100%;
    gap: 1rem;
    text-align: right;
    &-info {
      @include make-text-ellipsised(6rem);
    }
    &-avt {
      height: 100%;
      border-radius: $radius-circle;
      border: solid 2px $color-primary;
      padding: 1px;
      cursor: pointer;
      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: $radius-circle;
      }
    }
  }
}
