.Table {
  --table-border-color: #{$strike-color};
  --table-hover-color: #{$table-hover-color};
  --thead-cell-padding: #{$table-cell-padding-lg} #{$table-cell-padding};
  --tbody-cell-padding: #{$table-cell-padding};
  --table-border-width: 1px;
  --table-transition: #{$transition-1};
  --table-caption-position: top;
  --table-alignment: inherit;
}

@mixin cell-fit-content {
  width: 1%;
  white-space: nowrap;
}

.Table {
  width: 100%;
  vertical-align: top;
  border-collapse: collapse;
  border-color: var(--table-border-color);
  caption-side: var(--table-caption-position);
  &-reponsive {
    overflow-x: auto;
  }
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    transition: var(--table-transition);
  }
  thead {
    > tr > th,
    > tr > td {
      padding: var(--thead-cell-padding);
      text-align: var(--table-alignment);
    }
  }
  tbody {
    > tr > th,
    > tr > td {
      padding: var(--tbody-cell-padding);
      border-bottom-width: var(--table-border-width);
      text-align: var(--table-alignment);
    }
  }
  &-hover > tbody > tr:hover {
    background-color: var(--table-hover-color);
  }

  &-sm {
    --thead-cell-padding: #{$table-cell-padding} #{$table-cell-padding-sm};
    --tbody-cell-padding: #{$table-cell-padding-sm};
  }

  &-center {
    --table-alignment: center;
  }
}

.Table {
  &__caption-reversed {
    --table-caption-position: bottom;
  }
  .Item {
    &__priority {
      min-width: 25%;
    }
    &__img img {
      width: auto;
      height: 3rem;
      object-fit: cover;
      overflow: hidden;
      font-size: 0.75rem;
      color: grey;
      word-wrap: break-word;
      cursor: pointer;
    }
    &__time {
      font-size: 0.85rem !important;
      line-height: 1.15;
      color: grey;
      font-style: italic;
      white-space: nowrap;
    }
    &__actions {
      @include cell-fit-content;
    }
  }
}
