@mixin gen-text-properties {
  margin-top: 0;
  margin-bottom: 0;
  // line-height: $font-line-height;
}

.Text-link,
a {
  color: $color-txt-dark;
  text-decoration: none;
  @include gen-text-properties;
}
.Text-h1,
h1 {
  font-weight: 800;
  font-size: $font-size-xl;
  @include gen-text-properties;
}
.Text-h2,
h2 {
  font-weight: 600;
  font-size: $font-size-lg;
  @include gen-text-properties;
}
.Text-h3,
h3 {
  font-weight: 500;
  font-size: $font-size-sm;
  @include gen-text-properties;
}
.Text-small,
small {
  font-size: $font-size-xs;
  @include gen-text-properties;
}
p {
  font-size: $font-size;
  color: $color-txt-grey;
  @include gen-text-properties;
}
b {
  color: $color-txt-dark;
  @include gen-text-properties;
}

.Text {
  font-size: $font-size;
  @include gen-text-properties;

  &-brand {
    font-weight: 900;
  }
  &-muted {
    color: $color-txt-muted;
  }

  @for $i from 1 through 5 {
    &-limit-#{$i} {
      display: -webkit-box;
      -webkit-line-clamp: $i;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  @each $name, $color in $colors {
    &-#{$name} {
      color: #{$color};
    }
  }
}
