.Box {
  width: 100%;
  background-color: var(--color-bg-section);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-1);
  padding: 1rem;

  &-scrollable {
    overflow-x: auto;
  }
}

@mixin make-badge {
  padding: 4px 4px 3px;
  font-size: $font-size-xs;
  font-weight: 600;
  line-height: 1;
  color: $color-light;
  // background-color: $color-danger;
  // transition: $transition-2;
  border-radius: $radius-sm;
}
.Badge {
  @each $name, $color in $colors {
    &-#{$name} {
      @include make-badge;
      background-color: #{$color};
    }
    &-#{$name}-variant {
      @include make-badge;
      background-color: make-color-variant($color);
    }
  }
}
