@import 'fonts';
@import 'variables';
@import 'components/grid';
@import 'components/text';
@import 'components/button';
@import 'components/table';
@import 'components/dialog';

* {
  font-family: 'Nunito', sans-serif;
  user-select: none;
  box-sizing: border-box;
  word-wrap: break-word;
}

:root {
  --body-color: #{$text-color};
  --body-bg: #{$background-color-lighter};
  --section-bg: #{$section-bg};
}

body {
  margin: 0;
  color: var(--body-color);
  background-color: var(--body-bg);
  @include scroll-bar;
}

.Title {
  font-size: 1.75rem;
  margin: 1.5rem 0 1rem;
}

.Section {
  background-color: var(--section-bg);
  border-radius: $radius-md;
  box-shadow: $shadow-1;
  padding: 1rem;
  &__scrollable {
    width: 100%;
    overflow-x: auto;
  }
}
