@import "fonts";
@import "variables";
@import "components/container";
@import "components/spacing";
@import "components/text";
@import "components/button";
@import "components/input";
@import "components/navbar";
@import "components/table";
@import "components/dialog";
@import "components/utilities";

@import "app/layout";
@import "app/header";
@import "app/sidebar";
@import "app/main";
@import "app/rightbar";

* {
  box-sizing: border-box;
  word-wrap: break-word;
  // user-select: none;
  text-decoration: none;
  // appearance: none;
  outline: none;
  transition: color 0.15s linear;
  transition: background-color 0.15s linear;

  &::selection {
    color: #fff;
    background: make-color-spread($color-tertiary, 75%);
  }
}

:root {
  --primary: #{$color-primary};
  --secondary: #{$color-secondary};
  --tertiary: #{$color-tertiary};
  --success: #{$color-success};
  --danger: #{$color-danger};
  --warning: #{$color-warning};
  --info: #{$color-info};
  --grey: #{$color-grey};
  --lightgrey: #{$color-lightgrey};
  --lightergrey: #{$color-lightergrey};
  --dark: #{$color-dark};
  --light: #{$color-light};

  --txt-dark: #{$color-txt-dark};
  --txt-grey: #{$color-txt-grey};
  --txt-light: #{$color-txt-light};
  --txt-muted: #{$color-txt-muted};
  --bg: #{$color-bg};

  --radius-sm: #{$radius-sm};
  --radius-md: #{$radius-md};
  --radius-lg: #{$radius-lg};
  --radius-xl: #{$radius-xl};
  --radius-circle: #{$radius-circle};

  --font-size: #{$font-size};
  --font-size-xs: #{$font-size-xs};
  --font-size-sm: #{$font-size-sm};
  --font-size-lg: #{$font-size-lg};
  --font-size-xl: #{$font-size-xl};
  --line-height: #{$line-height};

  --shadow-1: #{$shadow-1};

  --transition-1-eio: #{$transition-1-eio};

  --spacing-xs: #{spacing-xs};
  --spacing-sm: #{spacing-sm};
  --spacing-md: #{spacing-md};
  --spacing-lg: #{spacing-lg};
  --spacing-xl: #{spacing-xl};
}

:root {
  --Sidebar-width: #{$sidebar-width};
  --Rightbar-width: #{$rightbar-width};
}

:root[data-theme="light"] {
  --base-color: #{$base-color};
  --base-color-variant: #{$base-color-variant};
  --base-color-highlight: #{$base-color-highlight};
  --base-color-muted: #{$base-color-muted};
  --base-body: #{$base-body};
  --base-box: #{$base-box};
  --base-border: #{$base-border};
  --base-hover-overlay: #{$base-hover-overlay};
  --base-overlay: #{$base-overlay};
  --base-shadow: #{$base-shadow};
  --base-shadow-variant: #{$base-shadow-variant};
  --base-shadow-outlined: #{make-shadow-outlined($base-border)};
  --base-shadow-outlined-sm: #{make-shadow-outlined($base-border, 0.15rem)};
}

:root[data-theme="dark"],
.DarkMode {
  --base-color: #{$base-dark-color};
  --base-color-variant: #{$base-dark-color-variant};
  --base-color-highlight: #{$base-dark-color-highlight};
  --base-color-muted: #{$base-dark-color-muted};
  --base-body: #{$base-dark-body};
  --base-box: #{$base-dark-box};
  --base-border: #{$base-dark-border};
  --base-hover-overlay: #{$base-dark-hover-overlay};
  --base-overlay: #{$base-dark-overlay};
  --base-shadow: #{$base-dark-shadow};
  --base-shadow-variant: #{$base-dark-shadow-variant};
  --base-shadow-outlined: #{make-shadow-outlined($base-dark-border)};
  --base-shadow-outlined-sm: #{make-shadow-outlined($base-dark-border, 0.15rem)};

  --dark: #{$color-dark};
  --light: #{$color-light};
  --txt-dark: #{$color-txt-dark-darkened};
  --txt-grey: #{$color-txt-grey-darkened};
  --txt-light: #{$color-txt-light-darkened};
  --bg: #{$color-bg-darkened};
  --shadow-1: #{$shadow-1-darkened};
}

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  color: var(--base-color);
  background-color: var(--base-body);
  transition: var(--transition-1-eio);
  @include scroll-bar;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.App {
  width: 100%;
  min-height: 100vh;
  transition: opacity 0.3s, visibility 0.3s;
  @include loading-screen;
}

.Title {
  font-size: 1.75rem;
  height: 2rem;
  margin: 1rem 0;
}
