@import 'fonts';
@import 'variables';
@import 'components/container';
@import 'components/spacing';
@import 'components/text';
@import 'components/button';
@import 'components/navbar';
@import 'components/table';
@import 'components/dialog';
@import 'components/utilities';

@import 'app/sidebar';

* {
  box-sizing: border-box;
  word-wrap: break-word;
  // user-select: none;
  text-decoration: none;
  appearance: none;
  outline: none;

  &::selection {
    background: make-color-spread($color-tertiary, 50%);
  }
}

:root {
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-tertiary: #{$color-tertiary};
  --color-success: #{$color-success};
  --color-danger: #{$color-danger};
  --color-warning: #{$color-warning};
  --color-info: #{$color-info};
  --color-grey: #{$color-grey};
  --color-dark: #{$color-dark};
  --color-light: #{$color-light};

  --color-txt-dark: #{$color-txt-dark};
  --color-txt-grey: #{$color-txt-grey};
  --color-txt-light: #{$color-txt-light};
  --color-txt-muted: #{$color-txt-muted};
  --color-bg: #{$color-bg};
  --color-bg-section: #{$color-bg-section};

  --radius-sm: #{$radius-sm};
  --radius-md: #{$radius-md};
  --radius-lg: #{$radius-lg};
  --radius-xl: #{$radius-xl};
  --radius-circle: #{$radius-circle};

  --font-size: #{$font-size};
  --font-size-xs: #{$font-size-xs};
  --font-size-sm: #{$font-size-sm};
  --font-size-lg: #{$font-size-lg};
  --font-size-xl: #{$font-size-xl};
  --font-line-height: #{$font-line-height};

  --shadow-1: #{$shadow-1};

  --transition-1: #{$transition-1};

  --spacing-xs: #{spacing-xs};
  --spacing-sm: #{spacing-sm};
  --spacing-md: #{spacing-md};
  --spacing-lg: #{spacing-lg};
  --spacing-xl: #{spacing-xl};
}

.DarkMode {
  --color-txt-dark: #{$color-txt-dark-darkened};
  --color-txt-grey: #{$color-txt-grey-darkened};
  --color-txt-light: #{$color-txt-light-darkened};
  --color-bg: #{$color-bg-darkened};
  --color-bg-section: #{$color-bg-section-darkened};
  --shadow-1: #{$shadow-1-darkened};
}

body {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  margin: 0;
  // padding: 1rem 0;
  overflow-x: hidden;
  // user-select: none;
  color: var(--color-txt-dark);
  background-color: var(--color-bg);
  @include scroll-bar;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.App {
  width: 100%;
  min-height: 100vh;
}

.Title {
  font-size: 1.75rem;
  height: 2rem;
  margin: 1rem 0;
}
