// Badge
@mixin make-badge {
  padding: 4px 4px 3px;
  margin-top: -3px;
  font-size: $font-size-xs;
  font-weight: 600;
  line-height: 1;
  color: $color-light;
  border-radius: $radius-sm;
}
.Badge {
  @each $name, $color in $colors {
    &-#{$name} {
      @include make-badge;
      background-color: #{$color};
    }
    &-#{$name}-variant {
      @include make-badge;
      background-color: make-color-variant($color);
    }
  }
}
