<section class="Row">
  <div class="Col lg-4 olg-4">
    <div class="Center">
      <div class="Box Box-scrollable">
        <form class="Form" action="/v1/a/e/login" method="post" id="instance-form">
          <div class="Form__header">
            <p class="Form__header-title">Login</p>
            <p class="Form__header-description">Welcome back!</p>
          </div>
          <div class="Form__body">
            <div class="Field" aria-invalid="">
              <label for="userInfo" class="Field__label">Username or Email</label>
              <input type="text" class="Field__input" name="userInfo" id="userInfo">
              <span class="Field__response"></span>
            </div>
            <div class="Field">
              <label for="password" class="Field__label">Password</label>
              <input type="password" class="Field__input" name="password" id="password">
              <span class="Field__response"></span>
            </div>
          </div>
          <div class="Form__footer">
            <div class="Field" aria-invalid="">
              <button type="submit" class="Btn" name="submit" id="submit">
                Login
              </button>
            </div>
            <div class="Field">
              <p>
                Don't have account yet?
                <a href="/v1/signup" class="Text-link"><strong>Sign up</strong></a>
                now.
              </p>
              <p>Back to <a href="/v1" class="Text-link"><strong>Homepage</strong></a>.</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>