
<h1 class="Title">List of available Courses</h1>

{{!-- Analysis --}}
<section class="Row">

  <div class="Col lg-3">
    <div class="Box Analyze">
      <div class="Analyze__info">
        <h3 class="Analyze__info-title">Total Sales</h3>
        <b class="Analyze__info-content">$65,432</b>
      </div>
      <div class="Analyze__progress" title="Total sales">
        <svg class="Analyze__progress-success">
          <circle cx="48" cy="48" r="38"></circle>
        </svg>
        <b class="Analyze__progress-percentage">+81%</b>
      </div>
    </div>
  </div>

  <div class="Col lg-3">
    <div class="Box Analyze" title="sales">
      <div class="Analyze__info">
        <h3 class="Analyze__info-title">Products sold</h3>
        <b class="Analyze__info-content">1,594</b>
      </div>
      <div class="Analyze__progress" title="Products sold">
        <svg class="Analyze__progress-tertiary">
          <circle cx="48" cy="48" r="38"></circle>
        </svg>
        <b class="Analyze__progress-percentage">+62%</b>
      </div>
    </div>
  </div>

  <div class="Col lg-3">
    <div class="Box Analyze" title="sales">
      <div class="Analyze__info">
        <h3 class="Analyze__info-title">Site visits</h3>
        <b class="Analyze__info-content">24,432</b>
      </div>
      <div class="Analyze__progress" title="Total sales">
        <svg class="Analyze__progress-primary">
          <circle cx="48" cy="48" r="38"></circle>
        </svg>
        <b class="Analyze__progress-percentage">-48%</b>
      </div>
    </div>
  </div>

  <div class="Col lg-3">
    <div class="Box Analyze" title="sales">
      <div class="Analyze__info">
        <h3 class="Analyze__info-title">Searches</h3>
        <b class="Analyze__info-content">12,845</b>
      </div>
      <div class="Analyze__progress" title="Total sales">
        <svg class="Analyze__progress-info">
          <circle cx="48" cy="48" r="38"></circle>
        </svg>
        <b class="Analyze__progress-percentage">+27%</b>
      </div>
    </div>
  </div>

</section>