<div class="Header">
  <div class="Header__left">
    <div class="Header__collapse" id="Sidebar-collapse-btn">
      <button class="Btn" data-variant="unstyled" data-size="">
        <i class="fa-regular fa-bars"></i>
      </button>
    </div>
    <div class="Header__brand">
      <img src="/assets/favicon.png" alt="icon">
      <b class="Text-brand Text-h2"><span class="Text-primary">API</span>nst</b>
    </div>
  </div>
  
  <div class="Header__right">
    <button class="Header__menu Btn-lg">
      <i class="fa-regular fa-layout-2"></i>
    </button>
    <label class="Switch" for="Switch-theme-btn" data-size="lg" data-variant="dark icon no-outline">
      <span class="Text-warning"><i class="fa-regular fa-moon"></i></span>
      <input type="checkbox" id="Switch-theme-btn">
      <span class="Text-warning"><i class="fa-regular fa-sun"></i></span>
    </label>
    <div class="Header__profile">
      {{#if sign}}
        <div class="Header__profile-info">
          <p class="P1"><strong>{{sign.username}}</strong></p>
          <p class="Text-h3">{{capitalizeFirst sign.role}}</p>
        </div>
        <div class="Header__profile-avt">
          {{#if sign.avatar}}
            <picture>
              <source srcset="/assets/avatar-placeholders/webp/profile-8.webp" type="image/webp">
              <img src="/assets/avatar-placeholders/profile-8.jpg" alt="{{sign.name}}">
            </picture>
          {{else}}
              <img src="/assets/avatar-placeholders/default-profile.jpg" alt="default profile">
          {{/if}}
        </div>
      {{/if}}
      {{#unless sign}}
        <div class="Header__profile-info">
          <p><a href="/v1/login" class="Text-link"><strong>Log in</strong></a></p>
        </div>
        <div class="Header__profile-info">
          <p><a href="/v1/signup" class="Text-link"><strong>Sign up</strong></a></p>
        </div>
      {{/unless}}
    </div>
  </div>
</div>