<div class="Header">
  <div class="Header__left">
    <div class="Header__collapse" id="Sidebar-collapse-btn">
      <button class="Btn" data-variant="unstyled" data-size="">
        <i class="fa-regular fa-bars"></i>
      </button>
    </div>
    <div class="Header__brand">
      <img src="/img/favicon.png" alt="icon">
      <b class="Text-brand Text-h2"><span class="Text-primary">API</span>nst</b>
    </div>
  </div>
  
  <div class="Header__right">
    <button class="Header__menu Btn-lg">
      <i class="fa-regular fa-layout-2"></i>
    </button>
    <label class="Switch" for="Switch-theme-btn" data-size="lg" data-variant="icon dark">
      <span class="Text-warning"><i class="fa-regular fa-moon"></i></span>
      <input type="checkbox" id="Switch-theme-btn">
      <span class="Text-warning"><i class="fa-regular fa-sun"></i></span>
    </label>
    <div class="Header__profile">
      <div class="Header__profile-info">
        <b>Btoann</b>
        <p class="Text-h3">Admin</p>
      </div>
      <div class="Header__profile-avt">
        <picture>
          <source srcset="/assets/avatar-placeholders/webp/profile-8.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-8.jpg" alt="Profile 8">
        </picture>
      </div>
    </div>
  </div>
</div>