<div class="Rightbar">
  <div class="Rightbar__header">
    <h2 class="Heading"><i class="fa-regular fa-message"></i>&ensp;Contacts</h2>
    <div class="Rightbar__header-collapse" id="collapse-btn">
      <i class="fa-regular fa-caret-right"></i>
    </div>
  </div>
  <div class="Rightbar__body">
    <div class="UsersList">
      <div class="User" data-status="online" data-unreads="99+">
        <picture class="User__avatar User__status">
          <source srcset="/assets/avatar-placeholders/webp/profile-1.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-1.jpg" alt="Person 1">
        </picture>
        <b class="User__name">Nguyễn Bảo Toàn</b>
      </div>
      <div class="User" data-status="away" data-unreads="1">
        <picture class="User__avatar User__status">
          <source srcset="/assets/avatar-placeholders/webp/profile-2.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-2.jpg" alt="Person 2">
        </picture>
        <b class="User__name">Person 2</b>
      </div>
      <div class="User" data-status="busy" data-unreads="8">
        <picture class="User__avatar User__status">
          <source srcset="/assets/avatar-placeholders/webp/profile-3.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-3.jpg" alt="Person 3">
        </picture>
        <b class="User__name">Person 3</b>
      </div>
      <div class="User" data-status="offline" data-unreads="0">
        <picture class="User__avatar User__status">
          <source srcset="/assets/avatar-placeholders/webp/profile-4.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-4.jpg" alt="Person 4">
        </picture>
        <b class="User__name">Person 4</b>
      </div>
      <div class="User" data-status="offline" data-unreads="1235">
        <picture class="User__avatar User__status">
          <source srcset="/assets/avatar-placeholders/webp/profile-5.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-5.jpg" alt="Person 5">
        </picture>
        <b class="User__name">Person 5</b>
      </div>
      <div class="User" data-status="online">
        <picture class="User__avatar User__status">
          <source srcset="/assets/avatar-placeholders/webp/profile-6.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-6.jpg" alt="Person 6">
        </picture>
        <b class="User__name">Person 6</b>
      </div>
      <div class="User" data-status="away">
        <picture class="User__avatar User__status">
          <source srcset="/assets/avatar-placeholders/webp/profile-7.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-7.jpg" alt="Person 7">
        </picture>
        <b class="User__name">Person 7</b>
      </div>
    </div>
  </div>
</div>