<div class="Rightbar">
  <div class="Rightbar__header">
    <h2 class="Heading">Contacts</h2>
    <div class="Rightbar__header-collapse" id="collapse-btn">
      <i class="fa-regular fa-caret-right"></i>
    </div>
  </div>
</div>