<div class="Sidebar">

  <div class="Sidebar__searchbox" role="button">
    <div class="Sidebar__searchbox-input">
      <span class="Sidebar__searchbox-icon"><i class="fa-regular fa-magnifying-glass"></i></span>
      <span class="Sidebar__searchbox-placeholder">Search</span>
    </div>
  </div>

  <div class="Sidebar__main">
    <div class="Sidebar__list">
      <a href="./v1" class="Sidebar__link" aria-current="page">
        <span class="Sidebar__link-icon"><i class="fa-regular fa-table-layout"></i></span>
        <div class="Sidebar__link-text">
          Dashboard
        </div>
      </a>
      <a href="#analytics" class="Sidebar__link">
        <span class="Sidebar__link-icon"><i class="fa-regular fa-chart-mixed"></i></span>
        <div class="Sidebar__link-text">
          Analytics
        </div>
      </a>
      <a href="#users" class="Sidebar__link">
        <span class="Sidebar__link-icon"><i class="fa-regular fa-users"></i></span>
        <div class="Sidebar__link-text">
          Users
        </div>
      </a>
      <a href="./v1/products" class="Sidebar__link">
        <span class="Sidebar__link-icon"><i class="fa-regular fa-box"></i></span>
        <div class="Sidebar__link-text">
          Products
        </div>
      </a>
      <a href="#tickets" class="Sidebar__link">
        <span class="Sidebar__link-icon"><i class="fa-regular fa-envelope"></i></span>
        <div class="Sidebar__link-text">
          Tickets
          <span class="Sidebar__link-badge">16</span>
        </div>
      </a>
      <a href="#salelist" class="Sidebar__link">
        <span class="Sidebar__link-icon"><i class="fa-regular fa-notes"></i></span>
        <div class="Sidebar__link-text">
          Sale List
        </div>
      </a>
      <a href="#history" class="Sidebar__link">
        <span class="Sidebar__link-icon"><i class="fa-regular fa-clock-rotate-left"></i></span>
        <div class="Sidebar__link-text">
          History
        </div>
      </a>
      <a href="#reports" class="Sidebar__link">
        <span class="Sidebar__link-icon"><i class="fa-regular fa-hexagon-exclamation"></i></span>
        <div class="Sidebar__link-text">
          Reports
        </div>
      </a>
      <a href="#settings" class="Sidebar__link">
        <span class="Sidebar__link-icon"><i class="fa-regular fa-gear"></i></span>
        <div class="Sidebar__link-text">
          Settings
        </div>
      </a>
      <div class="Sidebar__dash-end"></div>
      <a href="#homesite" class="Sidebar__link">
        <span class="Sidebar__link-icon"><i class="fa-regular fa-house"></i></span>
        <div class="Sidebar__link-text">
          Homesite
        </div>
      </a>
    </div>
  </div>
</div>