<div class="Sidebar">

  <div class="Sidebar__searchbox" role="button">
    <div class="Sidebar__searchbox-input">
      <span class="Sidebar__searchbox-icon"><i class="fa-regular fa-magnifying-glass"></i></span>
      <span class="Sidebar__searchbox-placeholder">Search</span>
    </div>
  </div>

  <div class="Sidebar__main">
    <a href="#dashboard" class="Sidebar__link" aria-current="page">
      <span class="Sidebar__link-icon"><i class="fa-regular fa-table-layout"></i></span>
      <h3 class="Text">Dashboard</h3>
    </a>
    <a href="#analytics" class="Sidebar__link">
      <span class="Sidebar__link-icon"><i class="fa-regular fa-chart-mixed"></i></span>
      <h3 class="Text">Analytics</h3>
    </a>
    <a href="#users" class="Sidebar__link">
      <span class="Sidebar__link-icon"><i class="fa-regular fa-users"></i></span>
      <h3 class="Text">Users</h3>
    </a>
    <a href="#tickets" class="Sidebar__link">
      <span class="Sidebar__link-icon"><i class="fa-regular fa-envelope"></i></span>
      <h3 class="Text">Tickets</h3>
      <small class="Badge-danger-variant">16</small>
    </a>
    <a href="#salelist" class="Sidebar__link">
      <span class="Sidebar__link-icon"><i class="fa-regular fa-notes"></i></span>
      <h3 class="Text">Sale List</h3>
    </a>
    <a href="#history" class="Sidebar__link">
      <span class="Sidebar__link-icon"><i class="fa-regular fa-clock-rotate-left"></i></span>
      <h3 class="Text">History</h3>
    </a>
    <a href="#reports" class="Sidebar__link">
      <span class="Sidebar__link-icon"><i class="fa-regular fa-hexagon-exclamation"></i></span>
      <h3 class="Text">Reports</h3>
    </a>
    <a href="#settings" class="Sidebar__link">
      <span class="Sidebar__link-icon"><i class="fa-regular fa-gear"></i></span>
      <h3 class="Text">Settings</h3>
    </a>
    <div class="Sidebar__dash-end"></div>
    <a href="#homesite" class="Sidebar__link">
      <span class="Sidebar__link-icon"><i class="fa-regular fa-house"></i></span>
      <h3 class="Text">Homesite</h3>
    </a>
  </div>
</div>