<div class="Sidebar">
  <div class="Sidebar__toggle">
    <div class="Sidebar__toggle-logo">
      <img src="/img/favicon.png" alt="icon">
    </div>
    <div class="Sidebar__toggle-brand">
      <b class="Text-brand Text-h2"><span class="Text-primary">API</span>nst</b>
    </div>
    <div class="Sidebar__toggle-close" id="close-btn">
      <i class="fa-regular fa-xmark"></i>
    </div>
  </div>

  <div class="Sidebar__main">
    <a href="#dashboard" class="Sidebar__link active">
      <span class="Sidebar__link-icon"><i class="fa-regular fa-table-layout"></i></span>
      <h3 class="Text">Dashboard</h3>
    </a>
    <a href="#analytics" class="Sidebar__link">
      <span class="Sidebar__link-icon"><i class="fa-regular fa-chart-mixed"></i></span>
      <h3 class="Text">Analytics</h3>
    </a>
    <a href="#users" class="Sidebar__link">
      <span class="Sidebar__link-icon"><i class="fa-regular fa-users"></i></span>
      <h3 class="Text">Users</h3>
    </a>
    <a href="#tickets" class="Sidebar__link">
      <span class="Sidebar__link-icon"><i class="fa-regular fa-envelope"></i></span>
      <h3 class="Text">Tickets</h3>
      <small class="Badge-danger-variant">16</small>
    </a>
    <a href="#salelist" class="Sidebar__link">
      <span class="Sidebar__link-icon"><i class="fa-regular fa-notes"></i></span>
      <h3 class="Text">Sale List</h3>
    </a>
    <a href="#history" class="Sidebar__link">
      <span class="Sidebar__link-icon"><i class="fa-regular fa-clock-rotate-left"></i></span>
      <h3 class="Text">History</h3>
    </a>
    <a href="#reports" class="Sidebar__link">
      <span class="Sidebar__link-icon"><i class="fa-regular fa-hexagon-exclamation"></i></span>
      <h3 class="Text">Reports</h3>
    </a>
    <a href="#settings" class="Sidebar__link">
      <span class="Sidebar__link-icon"><i class="fa-regular fa-gear"></i></span>
      <h3 class="Text">Settings</h3>
    </a>
    <a href="#logout" class="Sidebar__link">
      <span class="Sidebar__link-icon"><i class="fa-regular fa-arrow-right-from-bracket"></i></span>
      <h3 class="Text">Logout</h3>
    </a>
  </div>
</div>