<div class="mt-4">
  <form method="POST">
    <div class="mb-3">
      <label for="search" class="form-label">Type keywords</label>
      <input type="text" name="search" class="form-control" id="search">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>