// @use '../variables';
@use "../helpers/helpers";
@use "../helpers/responsive";

.Layout {
  --Layout-max-width: 100%;
  --Layout-spacing: 0.75rem;
  --Layout-gutter: 0;
  --Layout-sidebar-width: #{$sidebar-width};
  --Layout-rightbar-width: #{$rightbar-width};
  --Layout-transition: width #{$transition-out-1};
}

.Layout {
  display: grid;
  grid-template-areas:
    "sidebar header header"
    "sidebar main main"
    "sidebar footer footer";
  grid-template-columns: min-content auto var(--Layout-rightbar-width);
  gap: 0 var(--Layout-spacing);
  width: var(--Layout-max-width);
  max-width: var(--Layout-max-width);
  min-width: var(--Layout-max-width);
  padding-left: var(--Layout-gutter);
  padding-right: var(--Layout-gutter);
  transition: var(--Layout-transition);
  $self: #{&};

  &-gutter {
    &-0 {
      --Layout-gutter: 0;
    }
    &-responsive {
      --Layout-gutter: var(--Layout-spacing);
    }
  }

  @include responsive.make-responsive(xs, sm, md) {
    --Layout-spacing: 0.5rem;
  }

  @include responsive.make-responsive-up(md) {
    // layout-template-columns: var(--Layout-sidebar-width-collapsed) auto var(--Layout-rightbar-width-collapsed);
    --Layout-sidebar-width: #{$sidebar-width-collapsed};
    --Layout-sidebar-width: #{$sidebar-width-collapsed};
  }
  @include responsive.make-responsive-up(xs) {
    layout-template-columns: 1fr;
    layout-template-rows: auto;
    gap: var(--Layout-spacing) 0;
    layout-template-areas: "header" "main" "footer";
  }

  &__header {
    grid-area: header;
    transition: var(--Layout-transition);
  }
  &__sidebar {
    grid-area: sidebar;
    transition: var(--Layout-transition);
  }
  &__main {
    grid-area: main;
    transition: var(--Layout-transition);
  }
  &__rightbar {
    grid-area: rightbar;
    transition: var(--Layout-transition);
  }
  &__footer {
    grid-area: footer;
    transition: var(--Layout-transition);
  }

  &-dashboard {
    grid-template-areas:
      "header header header"
      "sidebar main rightbar"
      "sidebar footer footer";

    & #{$self}__header {
      position: relative;
      width: 100%;
      height: $header-height;
      &-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    & #{$self}__sidebar {
      position: relative;
      width: var(--Sidebar-width);
      height: calc(100vh - $header-height);

      &-collapsed,
      &[aria-expanded="false"] {
        --Sidebar-width: #{$sidebar-width-collapsed};
      }
      @include responsive.make-range-responsive(sm, lg) {
        --Sidebar-width: #{$sidebar-width-collapsed};
      }
      &-fixed {
        position: fixed;
        width: var(--Sidebar-width);
        height: inherit;
        // padding-bottom: var(--Layout-spacing);
      }
    }
  }
}
