// @use '../variables';
@use "../helpers/helpers";
@use "../helpers/responsive";

.Layout {
  --Layout-max-width: 100%;
  --Layout-spacing: 0.75rem;
  --Layout-gutter: 0;
  --Layout-sidebar-width: #{$sidebar-width};
  --Layout-rightbar-width: #{$rightbar-width};
  --Layout-transition: #{$transition-color-1}, width #{$transition-out-1};
}

.Layout {
  display: grid;
  grid-template-areas:
    "sidebar header header"
    "sidebar main main"
    "sidebar footer footer";
  grid-template-columns: min-content auto var(--Layout-rightbar-width);
  gap: 0 var(--Layout-spacing);
  width: var(--Layout-max-width);
  max-width: var(--Layout-max-width);
  min-width: var(--Layout-max-width);
  padding-left: var(--Layout-gutter);
  padding-right: var(--Layout-gutter);
  transition: var(--Layout-transition);
  $self: #{&};

  &-gutter {
    &-0 {
      --Layout-gutter: 0;
    }
    &-responsive {
      --Layout-gutter: var(--Layout-spacing);
    }
  }

  @include responsive.make-responsive(xs, sm, md) using ($breakpoint) {
    --Layout-spacing: 0.5rem;
  }

  @include responsive.make-responsive-up(md) using ($breakpoint) {
    --Layout-sidebar-width: #{$sidebar-width-collapsed};
  }
  @include responsive.make-responsive-up(xs) using ($breakpoint) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--Layout-spacing) 0;
    grid-template-areas: "header" "main" "footer";
  }

  &__header {
    grid-area: header;
    transition: var(--Layout-transition);
  }
  &__sidebar {
    grid-area: sidebar;
    transition: var(--Layout-transition);
  }
  &__main {
    grid-area: main;
    transition: var(--Layout-transition);
  }
  &__rightbar {
    grid-area: rightbar;
    transition: var(--Layout-transition);
  }
  &__footer {
    grid-area: footer;
    transition: var(--Layout-transition);
  }

  &-dashboard {
    grid-template-areas:
      "header header header"
      "sidebar main rightbar"
      "sidebar footer footer";

    & #{$self}__header {
      position: relative;
      width: 100%;
      height: $header-height;
      &-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
      }
    }

    & #{$self}__sidebar {
      position: relative;
      width: var(--Sidebar-width);
      height: calc(100vh - $header-height);

      &-collapsed,
      &[aria-expanded="false"] {
        --Sidebar-width: #{$sidebar-width-collapsed};
      }
      @include responsive.make-range-responsive(sm, lg) {
        --Sidebar-width: #{$sidebar-width-collapsed};
      }
      &-fixed {
        position: fixed;
        width: var(--Sidebar-width);
        height: inherit;
        z-index: 100;
      }
    }

    & #{$self}__rightbar {
      position: relative;
      width: var(--Rightbar-width);
      height: calc(100vh - $header-height);

      &[aria-expanded="false"] {
        --Sidebar-width: #{$rightbar-width-collapsed};
      }
      @include responsive.make-range-responsive(sm, lg) {
        --Sidebar-width: #{$rightbar-width-collapsed};
      }
      &-fixed {
        position: fixed;
        width: var(--Rightbar-width);
        height: inherit;
      }
    }
  }
}

.grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main"
    "sidebar footer footer footer";
}

.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
