@use '../helpers/responsive';

.Sidebar {
  --Sidebar-height: inherit;
  --Sidebar-width-collapsed: #{$sidebar-width-collapsed};
  --Sidebar-padding: 1rem;
  --Sidebar-logo-size: 2rem;
  --Sidebar-link-height: 3rem;
  --Sidebar-link-transition: all 0.3s ease;
  --Sidebar-font-size: #{$font-size};
}

.Sidebar {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: inherit;
  max-width: var(--Sidebar-width);
  height: 100%;
  transition: $transition-1;

  $self: #{&};

  &__searchbox {
    @extend .Box;
    padding: $spacing-xs;
    cursor: pointer;
    &-input {
      --input-padding: #{$spacing-xs} #{$spacing-md};
      display: flex;
      align-items: center;
      gap: 0.75rem;
      padding: var(--input-padding);
      border: 1px solid var(--base-color-muted);
      border-radius: $radius-md;
      transition: $transition-1;
    }
    &-icon {
      color: $color-txt-grey;
    }
    &-placeholder {
      appearance: none;
      cursor: inherit;
      pointer-events: none;
      outline: none;
      width: 100%;
      border: none;
      color: $color-txt-grey;
      font-size: $font-size;
      @include make-text-ellipsised;
    }
    &:hover &-input {
      box-shadow: $shadow-outlined;
    }
  }

  &__main {
    @extend .Box;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: var(--Sidebar-padding);
    padding-bottom: var(--Sidebar-padding);
    background-color: var(--color-bg-section);
    border-radius: var(--radius-md);
    transition: var(--transition-1);
    overflow: hidden;
    overflow-y: auto;
    @include scroll-bar-overlay;
  }

  &__link {
    --link-padding: 1.5rem;
    min-height: 2rem;
    font-size: var(--Sidebar-font-size);
    display: flex;
    align-items: center;
    color: var(--color-txt-grey);
    height: var(--Sidebar-link-height);
    gap: 0.75rem;
    position: relative;
    padding-left: var(--link-padding);
    padding-right: var(--link-padding);
    transition: var(--Sidebar-link-transition);
    @include make-text-ellipsised;
    // white-space: nowrap;

    & > * {
      display: initial;
    }
    &:last-child {
      margin-top: auto;
      width: 100%;
    }
    &-icon {
      width: calc(var(--Sidebar-font-size) * 1.25);
      text-align: center;
      & > * {
        min-width: 100%;
      }
    }

    &:hover {
      color: var(--color-primary);
      padding-left: calc(var(--link-padding) * 1.25);
      padding-right: calc(var(--link-padding) * 0.75);
    }

    &.active,
    &[aria-current='page'] {
      cursor: none;
      pointer-events: none;
      color: var(--color-primary);
      background-color: var(--color-light);
      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        height: 100%;
        background-color: var(--color-primary);
      }
    }
  }
}

@mixin sidebar-collapse {
  .Sidebar {
    --Sidebar-width: var(--Sidebar-width-collapsed);
    &__searchbox {
      // display: none;
      &-input {
        --input-padding: 0;
        justify-content: center;
        border-color: transparent;
        box-shadow: none !important;
      }
      &-placeholder {
        display: none;
      }
    }
    &__main {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
    &__toggle {
      justify-content: center;
      &-brand {
        display: none;
      }
    }
    &__link {
      --link-padding: 0;
      --Sidebar-link-height: 2.5rem;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      justify-content: center;
      > *:not(#{&}-icon) {
        display: none;
      }
      &:last-child {
        margin-top: auto;
      }
    }
  }
}

[aria-expanded='false'] .Sidebar {
  @include sidebar-collapse;
}
@include responsive.make-range-responsive(sm, lg) {
  @include sidebar-collapse;
}
