
<h1 class="Title">Dashboard</h1>

{{!-- Analysis --}}
<section class="Row">
  <h2>Analysis</h2>

  <div class="Col lg-3">
    <div class="Analyze">
      <div class="Analyze__info">
        <h3 class="Analyze__info-title">Total Sales</h3>
        <b class="Analyze__info-content">$65,432</b>
      </div>
      <div class="Analyze__progress" title="Total sales">
        <svg class="Analyze__progress-success">
          <circle cx="48" cy="48" r="38"></circle>
        </svg>
        <b class="Analyze__progress-percentage">+81%</b>
      </div>
    </div>
  </div>

  <div class="Col lg-3">
    <div class="Analyze" title="sales">
      <div class="Analyze__info">
        <h3 class="Analyze__info-title">Products sold</h3>
        <b class="Analyze__info-content">1,594</b>
      </div>
      <div class="Analyze__progress" title="Products sold">
        <svg class="Analyze__progress-tertiary">
          <circle cx="48" cy="48" r="38"></circle>7
        </svg>
        <b class="Analyze__progress-percentage">+62%</b>
      </div>
    </div>
  </div>

  <div class="Col lg-3">
    <div class="Analyze" title="sales">
      <div class="Analyze__info">
        <h3 class="Analyze__info-title">Site visits</h3>
        <b class="Analyze__info-content">24,432</b>
      </div>
      <div class="Analyze__progress" title="Total sales">
        <svg class="Analyze__progress-primary">
          <circle cx="48" cy="48" r="38"></circle>
        </svg>
        <b class="Analyze__progress-percentage">-48%</b>
      </div>
    </div>
  </div>

  <div class="Col lg-3">
    <div class="Analyze" title="sales">
      <div class="Analyze__info">
        <h3 class="Analyze__info-title">Searches</h3>
        <b class="Analyze__info-content">12,845</b>
      </div>
      <div class="Analyze__progress" title="Total sales">
        <svg class="Analyze__progress-info">
          <circle cx="48" cy="48" r="38"></circle>
        </svg>
        <b class="Analyze__progress-percentage">+27%</b>
      </div>
    </div>
  </div>

</section>
{{!-- End of Analysis --}}


{{!-- Recent added --}}
<section class="Row M-t-3">
  <h2>Recently added</h2>
  <div class="Col lg-12">
    <div class="ItemsList">
      <div class="Item">
        <picture class="Item__img">
          <source srcset="/assets/avatar-placeholders/webp/profile-1.webp" type="image/webp">
          <img src="/assets/avatar-placeholders/profile-1.jpg" alt="Profile 1">
        </picture>
        <b></b>
      </div>
    </div>
  </div>
</section>